node_modules
.expo
dist
web-build
ios
android
coverage
__tests__
jest-tests
tests
.vscode
*.log
*.bak
.maestro/**
# BEGIN HANDOVER: EASIGNORE
.git
ios/Pods
android/.gradle
android/app/build
**/*.keystore
GoogleService-Info.plist
google-services.json
.env*
.DS_Store
.idea
# END HANDOVER: EASIGNORE
