# Node/Expo
node_modules/
.expo/
dist/

# Python/Django
.venv/
.venv-stt/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Env
.env
.env.*

android/*
!android/gradle.properties
!android/app/
android/app/*
!android/app/build.gradle
src/security/*.bak
src/security/*.bak

.maestro/
